In [1]:
!pip install faker

Collecting faker
  Downloading Faker-15.3.1-py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 33.9 MB/s eta 0:00:0000:01
Requirement already satisfied: python-dateutil>=2.4 in /home/codespace/.local/lib/python3.10/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-15.3.1

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python -m pip install --upgrade pip

In [1]:
from faker import Faker

fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [n for n in names if len(n)==2]
names

[['Jeff', 'Gonzalez'],
 ['Jennifer', 'Ellis'],
 ['Melissa', 'Baker'],
 ['Michael', 'Maxwell'],
 ['Brandon', 'Williams'],
 ['Tracy', 'Terry'],
 ['Courtney', 'Barry'],
 ['Eric', 'Garner'],
 ['Dylan', 'Gallagher'],
 ['Lisa', 'Thompson'],
 ['Rachel', 'Coleman'],
 ['Patrick', 'Evans'],
 ['James', 'Schneider'],
 ['Stanley', 'Sullivan'],
 ['Alfred', 'Welch'],
 ['Michael', 'Martinez'],
 ['Jamie', 'Miles'],
 ['Bradley', 'Chung'],
 ['Reginald', 'Cooper'],
 ['Ellen', 'Bowers'],
 ['Nicholas', 'Bell'],
 ['Gilbert', 'Coleman'],
 ['Jim', 'Ray'],
 ['Anthony', 'Ashley'],
 ['Daniel', 'Thomas'],
 ['Christopher', 'Young'],
 ['William', 'Hanson'],
 ['Nicole', 'Franco'],
 ['Olivia', 'Riley'],
 ['Walter', 'Thomas'],
 ['Jacob', 'Andrews'],
 ['Amy', 'Rocha'],
 ['Shaun', 'Young'],
 ['Carrie', 'Scott'],
 ['Thomas', 'Collins'],
 ['Jennifer', 'Barnes'],
 ['Bradley', 'Dean'],
 ['James', 'Small'],
 ['David', 'Beck'],
 ['Courtney', 'Simpson'],
 ['Annette', 'Carter'],
 ['Emily', 'Sutton'],
 ['Brian', 'Kim'],
 ['Christian', 'Wright'],
 ['Linda', 'Johnson'],
 ['Larry', 'Johnson'],
 ['Jennifer', 'Gonzalez'],
 ['William', 'Jenkins'],
 ['Benjamin', 'Owens'],
 ['Curtis', 'Butler'],
 ['Lauren', 'Douglas'],
 ['Nicole', 'Ho'],
 ['Jamie', 'Mason'],
 ['Kevin', 'Bennett'],
 ['Tracey', 'Green'],
 ['Max', 'Dickson'],
 ['Melissa', 'Anderson'],
 ['Heidi', 'Hall'],
 ['Henry', 'Nielsen'],
 ['Frank', 'Hughes'],
 ['Richard', 'Parker'],
 ['Chad', 'Wright'],
 ['Seth', 'Adams'],
 ['Jordan', 'Reyes'],
 ['Crystal', 'Bailey'],
 ['Stephanie', 'Ryan'],
 ['James', 'Austin'],
 ['Lisa', 'Wilkins'],
 ['Samantha', 'Taylor'],
 ['James', 'Koch'],
 ['Thomas', 'Davis'],
 ['James', 'Chan'],
 ['Paul', 'Bowman'],
 ['Kathryn', 'Rodriguez'],
 ['Duane', 'Austin'],
 ['Brandy', 'Armstrong'],
 ['Ronnie', 'Clark'],
 ['Erik', 'Carter'],
 ['Ethan', 'Arnold'],
 ['Jessica', 'Henry'],
 ['Erin', 'Houston'],
 ['Michele', 'Gonzalez'],
 ['Jenna', 'Davis'],
 ['Jeffrey', 'Suarez'],
 ['Eric', 'Keith'],
 ['Cody', 'Lynn'],
 ['Amanda', 'Fowler'],
 ['Corey', 'Francis'],
 ['Robert', 'Allen'],
 ['Joshua', 'Nielsen'],
 ['Steve', 'Baker'],
 ['Alexandra', 'Benitez'],
 ['Robert', 'Crawford'],
 ['Linda', 'Mcdowell'],
 ['Debbie', 'Larson'],
 ['Adrian', 'Mercer'],
 ['Cassandra', 'Navarro'],
 ['Noah', 'Smith'],
 ['John', 'Medina']]

In [2]:
import sqlite3 

connection = sqlite3.connect('sample.db')

In [3]:
insert_query = 'INSERT INTO people(name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for n in names:
    cursor.execute(insert_query, n)
connection.commit()

In [4]:
select_query = 'SELECT * FROM people LIMIT 10'
for i in cursor.execute(select_query):
    print(i)

(1, 'Jason', 'Strong')
(2, 'Andrew', 'Bruce')
(3, 'Savannah', 'Wall')
(4, 'Ryan', 'Robinson')
(5, 'Christopher', 'Daniels')
(6, 'Janet', 'Bell')
(7, 'Andrew', 'Hart')
(8, 'Lee', 'Johnson')
(9, 'Jessica', 'Fowler')
(10, 'Calvin', 'Freeman')